<!DOCTYPE html>
<html>
  <head>
    <title>Pranalika</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="sidebar">
      <ul class="sidebar-list">
        <li class="sd-list-item">
          <a class="sd-link-item" href="/">
            <span class="fa-gap"><i class="fas fa-tachometer-alt"></i></span>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="sd-list-item">
          <a class="sd-link-item" href="/">
            <span class="fa-gap"><i class="fas fa-user-circle"></i></span>
            <span>View Profile</span>
          </a>
        </li>
        <li class="sd-list-item">
          <a class="sd-link-item" href="/articles/new">
            <span class="fa-gap"><i class="fas fa-plus"></i></span>
            <span>Add Post</span>
          </a>
        </li>
        <li class="sd-list-item">
          <a class="sd-link-item" href="/articles/list">
            <span class="fa-gap"><i class="fas fa-newspaper"></i></span>
            <span>View Post</span>
          </a>
        </li>
        <li class="sd-list-item">
          <a class="sd-link-item" href="/articles/list">
            <span class="fa-gap"><i class="fas fa-edit"></i></span>
            <span>Update Post</span>
          </a>
        </li>
        <li class="sd-list-item">
          <a class="sd-link-item" href="/articles/list">
            <span class="fa-gap"><i class="fas fa-trash"></i></span>
            <span>Delete Post</span>
          </a>
        </li>
        <li class="sd-list-item">
          <a class="sd-link-item" href="/comments/list">
            <span class="fa-gap"><i class="fas fa-comments"></i></span>
            <span>View Comments</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="index-container">
      <main class="main">
        <div class="display-details">
          <p class="flex logout">
            <span>
              Howdy, <%= user.username %>
            </span>
            <a class="btn-logout" href="/users/logout">
              <i class="fas fa-sign-out-alt"></i>
            </a>
          </p>
        </div>
        <div class="main-content comments-list-container">
          <div class="left-side">
            <% if(comments.length){ %>
            <ul class="comments-list">
              <% comments.forEach(comment => { %>
              <li>
                <div class="comment-list-content">
                  <div class="comment-list-title">
                    <a href="/articles/<%= comment.articleId._id %>">
                      <%= comment.articleId.title %>
                    </a>
                  </div>
                  <div class="comment-list-description">
                    <span class="fa-icon">
                      <i class="fas fa-comments"></i>
                    </span>
                    <%= comment.content %>
                  </div>
                </div>
              </li>
              <% }) %>
            </ul>
            <% } else { %>
            <p>
              No comments yet !!!
            </p>
            <% } %>
          </div>
          <div class="right-side"></div>
        </div>
      </main>
    </div>
  </body>
</html>
