<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pranalika</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
  </head>
  <body>
    <% if(errors) { %>
    <div class="notification err-notification">
      <% errors.forEach(error => { %>
      <p><%= error %></p>
      <% }) %>
    </div>
    <% } %> <% if(warnings) { %>
    <div class="notification warn-notification">
      <% warnings.forEach(warning => { %>
      <p><%= warning %></p>
      <% }) %>
    </div>
    <% } %>
    <div class="form-modal">
      <div class="form-toggle">
        <button id="login-toggle" onclick="toggleLogin()">log in</button>
        <button id="signup-toggle" onclick="toggleSignup()">sign up</button>
      </div>

      <div id="login-form">
        <form action="/users/login" method="POST">
          <input name="email" type="text" placeholder="Enter email" />
          <input name="password" type="password" placeholder="Enter password" />
          <button type="submit" class="btn login">login</button>
          <p><a href="javascript:void(0)">Forgotten account</a></p>
          <hr />
          <button type="button" class="btn -box-sd-effect">
            <i class="fa fa-google fa-lg" aria-hidden="true"></i> sign in with
            google
          </button>
          <button type="button" class="btn -box-sd-effect">
            <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i> sign in with
            linkedin
          </button>
          <button type="button" class="btn -box-sd-effect">
            <i class="fa fa-windows fa-lg" aria-hidden="true"></i> sign in with
            microsoft
          </button>
        </form>
      </div>

      <div id="signup-form">
        <form action="/users/new" method="POST">
          <input name="email" type="email" placeholder="Enter your email" />
          <input name="username" type="text" placeholder="Choose username" />
          <input
            name="password"
            type="password"
            placeholder="Create password"
          />
          <button type="submit" class="btn signup">create account</button>
          <p>
            Clicking <strong>create account</strong> means that you are agree to
            our <a href="javascript:void(0)">terms of services</a>.
          </p>
          <hr />
          <button type="button" class="btn -box-sd-effect">
            <i class="fa fa-google fa-lg" aria-hidden="true"></i> sign up with
            google
          </button>
          <button type="button" class="btn -box-sd-effect">
            <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i> sign up with
            linkedin
          </button>
          <button type="button" class="btn -box-sd-effect">
            <i class="fa fa-windows fa-lg" aria-hidden="true"></i> sign up with
            microsoft
          </button>
        </form>
      </div>
    </div>
    <script>
      function toggleSignup() {
        document.getElementById("login-toggle").style.backgroundColor = "#fff";
        document.getElementById("login-toggle").style.color = "#222";
        document.getElementById("signup-toggle").style.backgroundColor =
          "#57b846";
        document.getElementById("signup-toggle").style.color = "#fff";
        document.getElementById("login-form").style.display = "none";
        document.getElementById("signup-form").style.display = "block";
      }

      function toggleLogin() {
        document.getElementById("login-toggle").style.backgroundColor =
          "#57B846";
        document.getElementById("login-toggle").style.color = "#fff";
        document.getElementById("signup-toggle").style.backgroundColor = "#fff";
        document.getElementById("signup-toggle").style.color = "#222";
        document.getElementById("signup-form").style.display = "none";
        document.getElementById("login-form").style.display = "block";
      }
    </script>
  </body>
</html>
